.main-upd-container {
  padding: 1rem;
  width: 300px;
  margin: 0 auto;
  border: 1px solid grey;
}

.input-upd-con {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.85rem;
  font-weight: 600;
}

.upd-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#err {
  color: red;
  font-size: 0.75rem;
  font-weight: 600;
}

#upd-inp {
  height: 1.3rem;
}
#btn-p {
  background-color: purple;
  color: white;
}
